.card-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding: 5px;
    row-gap: 50px;
    padding-bottom: 20px;
}

.card-container{
    width: 300px;
    height: 500px;
    border-radius: 15px;
    flex-direction: column;
    background-color: white;
    box-shadow: 6px 6px 39px -27px rgba(0,0,0,0.75);
}

.card-container:hover{
    transition: 0.1s;
    transform: scale(1.005);
    cursor: pointer;
}

.card-header{
    width: 100%;
    height: 20%;
    font-weight: 600;
}

.card-content{
    width: 100%;
    height: 60%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card-footer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-container button{
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.button-container button:hover{
    transition: 0.1s;
    background-color: rgb(37, 61, 110);
}